.div {
  background-color: #1c1c95e6;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.anakiImg {
  width: 60px;
  height: 47px;
  border-radius: 51%;
}
p {
  margin-left: 20px;
  color: white;
}
.infoDiv {
  margin: 20px 0 5px 30px;

  display: flex;
}
h2 {
  margin-left: 20px;
  color: white;
}
.nickname {
  color: gray;
}
.contentImg {
  border-radius: 15px;
  margin: 30px;
  width: 95%;
}
